body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a; /* Dark background */
  color: #f4f4f4; /* Light text color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.registration-container, .login-container {
  background-color: #2e2e2e; /* Dark container background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Lighter shadow */
  max-width: 400px;
  width: 100%;
}

.title {
  text-align: center;
  color: #f4f4f4; /* Light text color */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #f4f4f4; /* Light text color */
}

input[type='text'],
input[type='password'],
input[type='file'] {
  width: 94%;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #3e3e3e; /* Dark input background */
  border: 1px solid #ccc;
  color: #f4f4f4; /* Light text color in inputs */
  border-radius: 4px;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: #ccc; /* Placeholder color */
}

.register-btn,
.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.register-btn:hover,
.login-btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2e2e2e; /* Dark background for the header */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  width: auto;
  color: #f4f4f4;
}

.heading h1 {
  margin: 0;
  font-size: 24px;
}

.heading a {
  text-decoration: none;
  color: #f4f4f4;
}

.user-profile {
  display: flex;
  align-items: center;
}

.profile-link {
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
  color: #f4f4f4;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-placeholder {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 18px;
}

.username {
  font-size: 16px;
}

.logout-btn {
  background-color: #d9534f; /* Bootstrap-like danger color */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  background-color: #c9302c;
}

.content-container{
  padding: 0 10%;
}